page-cadastro-anotacao {
    .toolbar-title-toolbar-title-md{
        font-size: 30px;
        font-family: "Comfortaa";
    }
    .slide{
        background-color: #FFFFFF;
        width: 100%;
        height: 162%;
        border-radius: 10px;
        
    }
}
